@import '../../styles/abstracts/variables';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
    height: 8vh;

    .logo {
        a {
            font-family: $headerFont;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    .userControls {
        display: flex;
        align-items: center;

        .modalBtn {
            display: flex;
            align-items: center;
            background: transparent;
            border: none;
            cursor: pointer;

            span {
                padding-right: 10px;
                font-size: .9rem;
                font-family: $secondaryFont;
                text-transform: capitalize;
            }
        }

        .favouritesIcon {
            font-size: 1.2rem;
            margin-left: 20px;
        }

        .cartIcon {
            font-size: 1.4rem;
            margin-left: 20px;
        }
    }
}