.searchbar {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    width: 40%;
    height: 40px;
    border-radius: 30px;
    padding: 0 20px;

    .searchLabel {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .searchInput {
        background: transparent;
        border: none;
        outline: none;
        padding-left: 20px;
    }
}