@import '../abstracts/variables';

.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 50px auto;

    @media screen and (max-width: 1440px) {
        width: 60%;
    }

    .pageHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;

        h1 {
            font-size: 2.5rem;
            color: #293132;
        }

        .designDetail {
            width: 80px;
            height: 5px;
            background-color: #69EBD0;
            margin-top: 20px;
        }
    }

    .articlesContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 50px 0;

        .article {
            display: flex;
            flex-direction: row;
            padding: 20px 0;
            // border-bottom: 1px solid #cecece;

            .imgContainer {
                flex: 0.3;

                img {
                    width: 100%;
                }
            }

            .articleInfo {
                flex: 0.7;
                margin-left: 30px;

                p {
                    font-family: $secondaryFont;
                    letter-spacing: 0.02rem;
                    color: #6c6c6c;
                    font-weight: 300;
                    font-size: .9rem;
                }
            }
        }
    }
}