@import '../abstracts/variables';

.banner {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 80vh;
    position: relative;
    background-image: url('../../public/img/nike-vaporfly-next-2-feature.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;

    &::before {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
        position: absolute;
        content: '';
        inset: 0;
    }

    .bannerContent {
        display: flex;
        flex-direction: column;
        // background-color: rgba(0, 0, 0, 0.5);
        padding: 20px;
        width: 100%;
        margin-left: 10%;
        margin-bottom: 150px;
        z-index: 10;
    
        h1 {
            color: #fafafa;
            font-size: 3.7rem;
            text-transform: uppercase;
            font-weight: 900;
            font-style: italic;
            font-family: $primaryFont;
        }

        p {
            font-family: $secondaryFont;
            color:#96eeea;
            font-weight: 300;
            font-size: 1.4rem;
            margin: 0;
        }

        .bannerBtn {
            width: 150px;
            padding: 7px 20px;
            margin-top: 30px;
            background-color: white;
            font-family: $primaryFont;
            font-size: 1rem;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            border: none;
        }
    }
}

.trending {
    display: flex; 
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

    .sectionHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 70px;

        h2 {
            font-size: 2.5rem;
            color: #293132;
        }

        div {
            width: 80px;
            height: 5px;
            background-color: #69EBD0;
            margin: 20px 0;
        }
    }

    .gridContainer {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        column-gap: 2rem;
        margin: 50px 0;
    }
}

.featured {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $vividGreen;
    padding: 50px 10%;
    margin: 0 auto;

    .featureOne {
        // background-image: url('../../public/img/')
    }
}

.articles {
    padding: 50px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #293132;

    .sectionHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 70px;

        h2 {
            font-size: 2.5rem;
            color: #fff;
        }

        div {
            width: 80px;
            height: 5px;
            background-color: #69EBD0;
            margin: 20px 0;
        }
    }

    .articleContainer {
        display: flex;
        flex-direction: row;
        margin-top: 50px;

        .article {
            display: flex;
            align-items: flex-end;
            height: 350px;
            width: 33.333%;
            margin: 20px;
            background-repeat: no-repeat;
            background-size: cover;

            .articleHeader {
                display: flex;
                flex-direction: column;
                padding: 20px;
                background-color: rgba(0, 0, 0, 0.7);
                width: 100%;

                h4 {
                    color: white;
                    width: 100%;
                    text-transform: uppercase;
                    font-family: $primaryFont;
                    font-size: 1.5rem;
                }

                h5 {
                    color: $vividGreen;
                    font-size: 1rem;
                    font-weight: 500;
                    font-family: $secondaryFont;
                    margin-bottom: 10px;
                }
            }
        }

        .article1 {
            background-image: url('../../public/img/runners-knee.jpg');
        }

        .article2 {
            background-image: url('../../public/img/runners.jpg');
        }
        .article3 {
            background-image: url('../../public/img/running-benefits.jpg');
        }
    }

    .primaryBtn {
        background-color: $vividGreen;
        padding: 15px 50px;
        font-family: $primaryFont;
        font-size: 1rem;
        text-transform: uppercase;
        border: none;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        margin-top: 50px;
        margin-bottom: 30px;

        &:hover {
            background-color: white;
        }
    }
}