@import '../abstracts/variables';

.banner {
    display: flex;
    align-items: flex-end;
    height: 80vh;
    position: relative;
    background-image: url('../../public/img/maxresdefault.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    // .bannerContent {
    //     background-color: rgba(0, 0, 0, 0.5);
    //     padding: 20px;

    //     h4 {
    //         color: #fafafa;
    //         font-weight: 400;
    //         font-family: $secondaryFont;
    //         letter-spacing: 0.1rem;
    //     }
    
    //     h1 {
    //         color: white;
    //         font-size: 3rem;
    //         letter-spacing: -0.2rem;
    //         text-transform: uppercase;
    //         font-weight: 700;
    //         font-family: $secondaryFont;
    //     }
    // }
}

.trending {
    display: flex; 
    flex-direction: column;
    width: 100%;

    .sectionHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 70px;

        h2 {
            font-size: 2.5rem;
            color: #293132;
        }

        div {
            width: 80px;
            height: 5px;
            background-color: #69EBD0;
            margin: 20px 0;
        }
    }

    .gridContainer {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        column-gap: 2rem;
        margin: 50px 0;
    }
}

.articles {
    padding: 50px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #293132;

    .sectionHeader {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-top: 70px;

        h2 {
            font-size: 2.5rem;
            color: #fff;
        }

        div {
            width: 80px;
            height: 5px;
            background-color: #69EBD0;
            margin: 20px 0;
        }
    }

    .articleContainer {
        display: flex;
        flex-direction: row;
        margin-top: 50px;

        .article {
            display: flex;
            align-items: flex-end;
            height: 300px;
            width: 33.333%;
            margin: 20px;
            background-color: white;
            background-repeat: no-repeat;
            background-size: cover;

            h2 {
                background-color: rgba(0, 0, 0, 0.7);
                padding: 20px;
                color: white;
                width: 100%;
                text-transform: uppercase;
                font-family: $secondaryFont;
                font-size: 1.5rem;
            }
        }

        .article1 {
            background-image: url('../../public/img/runners-knee.jpg');
        }

        .article2 {
            background-image: url('../../public/img/runners.jpg');
        }
        .article3 {
            background-image: url('../../public/img/running-benefits.jpg');
        }
    }
}