.sectionBanner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    height: 30vh;
    background-image: url('../../public/img/running-shoes1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    h1 {
        color: white;
        z-index: 10;
        font-size: 3.5rem;
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: -0.2rem;
    }

    &::before {
        position: absolute;
        content: '';
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
}