@import '../abstracts/variables';

.shoe {
    display: flex;
    margin: 50px auto;
    width: 90%;

    .imgContainer {
        display: flex;
        flex: 0.4;
        padding: 20px;

        img {
            width: 100%;
        }
    }

    .shoeContent {
        padding: 20px;
        flex: 0.6;
        margin-left: 150px;

        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 1.2rem;
            font-family: $secondaryFont;
            font-weight: 700;
        }

        p {
            font-family: $secondaryFont;
            font-weight: 300;
        }

        h3 {
            font-family: $secondaryFont;
        }

        ul {
            li {
                font-family: $secondaryFont;
                font-weight: 300;
            }
        }
    }
}