.shoe {
    display: flex;
    margin: 50px auto;
    width: 90%;

    .imgContainer {
        display: flex;
        flex: 0.5;
        padding: 20px;

        img {
            width: 100%;
        }
    }

    .shoeContent {
        padding: 20px;
        flex: 0.5;

        h2 {
            font-size: 3.5rem;
        }
    }
}