@import '../abstracts/variables';

.shoe {
    display: flex;
    margin: 50px auto;
    width: 90%;

    .imgContainer {
        display: flex;
        flex: 0.4;
        padding: 20px;
        height: max-content;

        img {
            width: 100%;
        }
    }

    .shoeContent {
        padding: 20px;
        flex: 0.6;
        margin-left: 150px;

        .contentHeader {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 3rem;
            }

            p {
                font-style: italic;
                font-weight: 500;
                margin: 0;
                color: #b8b8b8;
            }
        }

        h2 {
            font-size: 1.2rem;
            font-family: $secondaryFont;
            font-weight: 700;
        }

        p {
            font-family: $secondaryFont;
            letter-spacing: 0.02rem;
            color: #6c6c6c;
            font-weight: 300;
            line-height: 30px;
        }

        h3 {
            font-family: $secondaryFont;
        }

        ul {
            li {
                font-family: $secondaryFont;
                letter-spacing: 0.02rem;
                color: #6c6c6c;
                font-weight: 300;
                line-height: 30px;
            }
        }
    }
}