.subheader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #69EBD0;

    ul {
        display: flex;
        align-items: center;

        a {
            li {
                list-style: none;
                padding: 0 20px;
                font-weight: 700;
                font-size: .6rem;
                letter-spacing: 0.05rem;
                text-transform: uppercase;
            }
        }
    }
}