@import '../../styles/abstracts/variables';

.shoe {
    display: flex;
    flex-direction: column;
    width: 300px;

    .shoeImg {
        width: inherit;
        height: 250px;

        img {
            width: 100%;
        }
    }

    .shoeDetails {
        display: flex;
        flex-direction: column;
        padding: 20px;

        p {
            font-family: $secondaryFont;
            letter-spacing: 0.02rem;
            color: #6c6c6c;
            font-weight: 300;
        }
    }
}