@import '../../styles/abstracts/variables';

.shoe {
    display: flex;
    flex-direction: column;
    width: 300px;

    .shoeImg {
        width: inherit;
        height: 250px;
        padding: 10px;

        img {
            width: 100%;
        }
    }

    .shoeDetails {
        display: flex;
        flex-direction: column;
        padding: 20px;

        p {
            font-family: $secondaryFont;
            letter-spacing: 0.02rem;
            color: #6c6c6c;
            font-weight: 300;
        }

        .cardFooter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 2px solid #f5f5f5;
            border-bottom: 2px solid #f5f5f5;

            .price {
                font-weight: 700;
                color: $darkGrey;
            }
    
            .ctaMessage {

                .warningMessage {
                    color: #eb4343;
                    font-size: 0.8rem;
                    font-weight: 700;
                }

                .stockMessage {
                    color: green;
                    font-size: 0.8rem;
                    font-weight: 700;
                }
            }
        }
    }
}