@import '../../styles/abstracts/variables';
@import '../../styles/layout/layout';

.footer {
    background-color: #e8e8e8;
    padding: 100px 0;

    .container {
        display: flex;
        justify-content: space-between;
        .logo {
            a {
                font-family: $headerFont;
                letter-spacing: 0.2rem;
                text-transform: uppercase;
                font-weight: 700;
            }
        }

        .links {
            display: flex;
            flex-direction: column;
            margin-top: 0;

            h5 {
                font-size: 1.2rem;
                margin-bottom: 7px;
                text-transform: uppercase;
            }

            a {
                li {
                    list-style-type: none;
                    font-family: $secondaryFont;
                    font-weight: 300;
                    font-size: 0.8rem;
                    margin-bottom: 5px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .socialIcons {
            display: flex;
            .iconContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                background-color: $darkGrey;
                margin: 10px;
                border-radius: 50%;
                color: white;
            }
        }
    }
}