@import '../../styles/abstracts/variables';

.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 950;
}

.modalContainer {
    display: none;
    // display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 999;
    background-color: white;
    padding: 40px;
    width: 25%;
    border-radius: 7px;

    .authHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .iconContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;
            background-color: #f5f5f5;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.active {
    display: flex;
}