@import './abstracts/variables';
@import './layout/layout';

html,
body {
  user-select: none;
  overscroll-behavior: none;
  padding: 0;
  margin: 0;
  font-family: $primaryFont, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $primaryFont;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

p {
  font-family: $secondaryFont;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-family: $primaryFont;
  text-transform: uppercase;
  outline: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}